:root {
  font-family: roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: aliceblue;
  background-color: #565656;
}


body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#root {
  display: flex;
  height: inherit
}

